<%= link_to "Back to Products", "/products" %> | <%= link_to "Edit", "/products/#{params[:id]}/edit" %>
<h3><%= @product.name %> </h3>
<p>
	<%= @product.description %><br>
	<%= @product.formatted_price %>
</p>